
.container {
@extend %container;

}


.skills-position {
    background-color: var(--background-button);
    border-radius: 4px;
}
.employee-list__img-view {
    margin-left: auto;
    margin-right: auto;
    background-position: center;
}
.skills__ul{
    @extend .list;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;

    padding: 0;
   display: grid;
   margin-left: auto;
   margin-right: auto;

@media screen and (min-width: $mobile) {
    width: $mobile;
}



    @media screen and (min-width: $tablet) {
        width: $tablet;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 30px;
        }
    
    
    
    
        @media screen and (min-width: $desktop) {
            width: $desktop;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 30px;
        }
    
    
    }

.block__pharagrap {
    @extend %main-text;
}
.title-two {
    @extend %visually-hidden;
}
.title-three {
    margin-top: 30px;
    margin-bottom: 10px;
}

.skills__item {
width: 70px;
height: 70px;
}






 .skills-position {
     
     display: flex;
     
     height: 120px;
     
     align-items: center;
     justify-content: center;

 }
    
