.container {
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}

.social-icon {
    width: 44px;
    height: 44px;

}

.employee-network__ul {
    list-style: none;
    padding-left: 0;
}
.employee-list {
    
    @extend %img;
@extend %list;
display: grid;
margin: 0;
padding: 0;
margin-right: auto;
margin-left: auto;

@media screen and (max-width: $mobile) {
        max-width: 480px;


        &__img-view {

            width: 450px;
            height: 460px;


        }
    }

@media screen and (min-width: $mobile) {
           width: 480px;
 

&__img-view {

    width: 450px;
    height: 100%;
                
               
}
}

@media screen and (min-width: $tablet) {
   grid-template-columns: repeat(2, 1fr); 
   column-gap: 30px;
   row-gap: 30px;
      width: $tablet;

&__img-view {

        width: 354px;
        height: 374px;


    }



}
}
// @media screen and (min-width: $tablet) {
//   grid-template-columns: repeat(2, 1fr); 
//   column-gap: 30px;
//   row-gap: 30px;
//      width: $tablet;


            
//        }   
//  &__img-view {

//      width: 354px;
//      height: 100%;


//  }
// }





    // 

    // &__item {
    //         display: flex;
    //         text-align: center;
    //         justify-content: center;
    //     }
    
    //     &__img-view {
    
    //         width: 354px;
    //         height: 100%;
    
    
    //     }

   
    // }

     

//      @media screen and (min-width: $desktop) {
//         grid-template-columns: repeat(4, 1fr);
// column-gap: 30px;
//         &__item {
//                 .img-view {
//                     width: 70px;
//                     height: 60px;
//                 }
//             }


//         }
        
//      }



