.header-btn {

    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    outline: 1px solid red;
}





.menu-button {
    display: block;
    margin: 40px;
}


