.social-icon {
    width: 44px;
    height: 44px;

}



// .employee-list {

    

//     @media screen and (max-width: $mobile) {
      
//     }
//     @media screen and (min-width: $mobile) {
      
//     }
//     @media screen and (min-width: $tablet) {
//     }


// }


.employee-list {


    display: grid;


    @media screen and (max-width: 480px) {
        max-width: 450px;


        
    }

    @media screen and (min-width: 480px) {
        width: 450px;


    }

    @media screen and (min-width: 768px) {
        width: 738px;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 30px;
        .employee-list__thumb{
        width: 354px;
        height: 374px;    
    }
}

@media screen and (min-width: 1200px) {
    width: 1170px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    

    .employee-list__thumb {
        width: 270px;
        height: 260px;
    }





}
}


.employee-list .employee-list__img-view {
    width: 100%;
    height: 100%;
}