.section {
    
    margin-left: auto;
    margin-right: auto;
}
.hero-container {
  
    margin-left: auto;
    margin-right: auto;
    
    @media screen and (min-width: 480px) {
     width: 480px;
    }
    @media screen and (min-width: 768px) {
     width: 768px;
    }
    @media screen and (min-width: 1200px) {
            width: 1200px;
    }
    @media screen and (min-width: 1600px) {
            width: 1600px;   
    }
}

.index-hero-fon {
    background-image: url(../../images/bg-foto.jpg);
    max-width: 100%;
    height: 600px;
    background-position: center;
}
